<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jayveer</title>
</head>
<body>
    <p>Hey This is Jayveer chauhan</p>
    <!-- # print values using a loop from a dictonary using jinja  -->
     #ENVIRNONEMT VARIALBLES
    {% for key, value in env.items() %}
    <p>{{key}}: {{value}}</p>
    {% endfor %}
</body>
<style> 
    body{
        background-color: black;
        color: yellow;
    }
</style>
</html>